.menu
{
  padding: 0;
  height: 100vh;
  background-color: #f3f5f9;
}

.menu__wrap
{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.menu__close
{
  position: absolute;
  right: 0;
  font-size: 36px;
  margin-right: 35px;
}

.menu__close button
{
  height: 40px;
  width: 40px;
  margin-top: 60px;
  background: transparent;
  border-radius: 50%;
  font-size: 24px;
}


.menu__list
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.menu__list a
{
  color: #e74b3b;
  text-decoration: none;
  margin-bottom: 15px;
}
