.wrap
{
  margin: 0; 
  width: 100%;
 
}
.form input
{
  border: none;
  width: 100%;
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom: 2px solid #cbc6c0;
  margin-bottom: 10px;
}

.form__inputs
{
  margin: 20px 0;
  width: 100%; 
  font-size: 14px;
}

.form__inputs textarea {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  resize: none;
  min-width: 100%;
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom: 2px solid #cbc6c0;
}

.form__button
{
  height: 44px;
  width: 155px;
  background-color: #e74d3d;
  border-color: #e74d3d;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}


