.intouch
{
  background: #f3f5f9;
}

.intouch__wrap
{
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.intouch__title {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.intouch__title span
{
  color: #6a6a6a;
  font-size: 36px;
  font-weight: bold;
  padding-top: 150px;
}

.intouch__title p
{
  font-size: 14px;
  color: #999999;
  padding-top: 35px;
}

.intouch__deviderWrapper
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 0 70px 0;
}

.intouch__deviderWrapper__left
{
  width: 80px;
  height: 2px;
  background-color: #bfc0c1;
  display: inline-block;
  margin-right: 15px;
}

.intouch__deviderWrapper__dot
{
  height: 7px;
  width: 7px;
  background-color: #e74b3b;
  border-radius: 50%;
  display: inline-block;
}

.intouch__deviderWrapper__right
{
  width: 80px;
  height: 2px;
  background-color: #bfc0c1;
  display: inline-block;
  margin-left: 15px;
}

.intouch__grid
{ 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0; 
}

.intouch__blockwrap
{
  background: #ffffff;
  padding: 100px 0 20px 90px;
  -webkit-box-shadow: 0 5px 10px rgba(191,192,193,0.57); 
  box-shadow: 0 5px 10px rgba(191,192,193,0.57);
}

.intouch__address span
{   
  font-size: 24px;
  color: #e74e3e;
  font-weight: 500;
}

.intouch__address p
{
  font-size: 18px;
  color: #999999;
  margin: 30px 0 70px 0;

}

.intouch__call span
{
  font-size: 24px;
  color: #e74e3e;
  font-weight: 500;
}

.intouch__call p
{
  font-size: 18px;
  color: #999999;
  margin: 30px 0 70px 0;
}

.intouch__email span 
{
  font-size: 24px;
  color: #e74e3e;
  font-weight: 500;
}

.intouch__email p
{
  font-size: 18px;
  color: #999999;
  margin: 30px 0 70px 0;
}

.intouch__block
{
  padding: 0 95px;
}

.intouch__form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(191,192,193,0.57); 
  box-shadow: 0 5px 10px rgba(191,192,193,0.57);
  margin-bottom: 40px;
}

.intouch__input
{
  padding: 20px 0;
  position: relative;
}

.intouch__input input
{
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 7px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media only screen and (min-width: 1024px)
{ 
  .intouch__form
  {
    margin-bottom: 0 !important;
    padding: 0 90px;
  }

  .intouch__grid
  { 
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0;
  }

  .intouch__blockwrap
  {
    margin-bottom: 0 !important;
  }
}

@media only screen and (min-width: 640px)
{

  .intouch__blockwrap
  {
    padding: 100px 0 20px 90px;
    -webkit-box-shadow: 0 5px 10px rgba(191,192,193,0.57); 
    box-shadow: 0 5px 10px rgba(191,192,193,0.57);
  }

  .intouch__title p
  {
    margin: 0 40px 0;
  }

  .intouch__form
  {
    margin-bottom: 40px;
  }

}
