.servicewrap
{
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;

}

.service_grid
  {
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    grid-row-gap: 0;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }

.service__in
{
  text-align: right;
  background-color: #202020;
}

.service__title
{
  font-size: 36px;
  font-weight: bold;
  color: #f4f5f9;
  border-right: 6px solid #e74c3c;
  margin: 155px 40px 30px 0;
  padding-right: 25px;
}

.service__block
{
  max-width: 665px;
  margin: 55px 40px 55px auto;
  position: relative;
}


.service__pic img
{
  height: 100%;
  width: 100%;
}

.service__descrtitle
{
  text-transform: uppercase;
  color: #e74c3c;
  font-size: 18px;
  font-weight: 500;
}

.service__text p
{
  font-size: 14px;
  color: #7b7b7b;
  line-height: 25px;
}

.service__iconwrap
{
  display: none;

}
 

/* Mobile Screens */

@media only screen and (min-width: 640px) 
{
  .service_grid
  {
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    grid-row-gap: 0;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
  
  .service__iconwrap
  {
    display: none;
  }
}

/* Tablet Screens */

@media only screen and (min-width: 1024px)
{
  .service_grid
  {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  } 

  .service__iconwrap
  {
    width: 64px;
    height: 64px;
    border: 5px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    right: -117px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 1;
    border-radius: 50%;
    background-color: #f4f5f9;
    display: block;
  }

  .service__iconwrap img
  {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .service__block
  {
    max-width: 665px;
    margin: 55px 80px 55px auto;
    position: relative;
  }

}

/* Desktop Screens*/
@media only screen and (min-width: 1280px) {
  
  .service__iconwrap
  {
    width: 64px;
    height: 64px;
    border: 5px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    right: -117px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 1;
    border-radius: 50%;
    background-color: #f4f5f9;
  }
  
  .service__iconwrap img
  {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}