.card
{
  display: flex;
  flex-direction: column;
  flex-basis: 23.5%;
  margin: 20px 0;
  text-align: center;
}

.card span
{
  font-size: 18px;
  font-weight: 600;
  color: #6a6a6a;

}

.card:last-child
{
  margin-bottom: 50px;
}


.card__text 
{
  font-size: 12px;
  font-weight: 300;
  padding: 0 20px;
  line-height: 18px;
  color: #999999
}

.card__divider
{
  display: flex;
  justify-content: center;
  margin: 20px 0 15px 0;
}

.card__divider_line
{
  height: 2px;
  width: 40px;
  background-color: #8b8b8b;
}

.card__iconwrap
{
  width: 73px;
  height: 73px;
  border: 1px solid #e5e5e5;
  position: relative;
  margin: 20px auto;
}

.card__iconwrap:hover
{
  cursor: default; 
  transform: rotate(45deg); 
  transition: all 0.5s ease-in-out 0s;
}

.card__iconwrap:not(:hover)
{
  transform: rotate(0deg); 
  transition: all 0.5s ease-in-out 0s;
}

.card__iconwrap img
{
  fill: #e74c3c;
  padding-top: 26%;
  width: 30px;
  height: 35px;
  color: #e74c3c;
}

@media only screen and (min-width: 640px) 
{
  .card span
  {
    margin-top: 10px;
  }
}