.wrap
{
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.cardsGrid
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.icon
{
  height: 60px;
}

@media only screen and (min-width: 640px) 
{
  .cardsGrid
  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    margin-bottom: 112px;
  }
}

