.footerwrap
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.footer__blockinfo
{
  background: url(../../images/footer_bg.jpg) center no-repeat;
  height: 100%;
  background-size: cover;
  padding: 140px 0;
  text-align: center;
  color: #ffffff;
}

.footer__blockinfo p
{
    line-height: 36px;
    margin: 12px 0;
}

.footer__blockinfo__title
{
  font-size: 36px;
}

.footer__blockinfo__text
{
  font-size: 18px;
}

.footer__blockinfo__button
{
  width: 225px;
  height: 55px;
  background-color: #e74e3e;
  border: #e74e3e;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 70px;
}

.footer__blockinfo__button:hover
{
  background-color: #943a30;
  cursor: pointer;
}

.footer__blockdown__social
{
  width: 100%;
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__blockdown__svgbox
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  
}

.footer__blockdown__svgboxflex
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__blockdown__svgboxflex a
{
  margin-left: 10px;
  padding: 10px;
}

.footer__blockdown__svgbox img
{
  height: 22px;
  width: 22px;
  fill: #999999;
}


.footer__blockdown__rights
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__blockdown__rights p
{
  color: #999999;
  margin-top: 10px;
}

.footer__blockinfo
{
  width: 100%;
}

.footer__blockinfo p span
{
  font-weight: bold;
}

.footer__arrow
{
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #e74b3b;
  color: #ffffff;
  text-decoration: none;  
}

@media only screen and (min-width: 640px)
{
  .footer__blockdown__svgboxflex
  {
    padding-left: 0;
  }

  .footer__blockdown__svgbox
  {
    justify-content: center;
  }

  .footer__blockdown__social
  {
    display: flex;
    flex-direction: column;
  }

  .footer__blockdown__rights
  {
    display: flex;
    justify-content: center;
  }

  .footer__blockdown__rights p
  {
    margin-right: 0;
    color: #999999;
    margin: 10px 0;
  } 

  .footer__blockinfo p
  {
    padding: 0 20px;
  }

}

@media only screen and (min-width: 1024px)
{
  .footer__blockdown__social
  {
    display: flex;
    flex-direction: row;
  }

  .footer__blockdown__svgboxflex
  {
    padding-left: 375px;
  }
}