@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 vertical-align: baseline;
 font-family: 'Open Sans', sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary 
{
 display: block;
}

body 
{
 line-height: 1;
}

ol, ul 
{
 list-style: none;
}

blockquote, q 
{
 quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after 
{
 content: '';
 content: none;
}

table 
{
 border-collapse: collapse;
 border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 
{
 font-weight: normal;
}

input 
{
 outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary 
{
 display: block;
}

*:focus 
{
 outline: none;
}

.form__input__error
{
  border: none !important;
  width: 100% !important;
  font-size: 14px !important;
  border-bottom: 1px solid #e74d3d !important;
}
