.burger
{ 
  display: block;
    padding: 3px 6px;
    display: flex;
    align-items: center;
    border-radius: 10%;
    border: 1px solid #f4f5f9;
    background-color: transparent; 
} 

.nav
{
  display: none;
}

.nav a 
{
  margin-right: 60px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  letter-spacing: 0.5px;
  color: #f4f5f9;
  text-decoration: none;
}

.nav a::after
{
  content: '';
  position: absolute;
  background-color: #e74b3b;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  bottom: -10px;
  transition: all 0.5s ease-in-out 0.2s;

}

.nav a:hover::after
{
  width: 100%;
}

.burger_iconsvg
{
  width: 25px;
  height: 25px;
  fill: #f4f5f9;
  
}

@media only screen and (min-width: 640px)
{
  .burger
  { 
    display: flex;
  }

  .nav
  {
    display: none;
  }
}

@media only screen and (min-width: 1024px)
{
  .nav
  {
    display: none;
  }
  .burger
  {
   display: flex;
  }
}

@media only screen and (min-width: 1124px)
{
  .nav
  {
    display: block;
  }
  .burger
  {
   display: none;
  }
}