.header
{
  position: relative;
  z-index: 2;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo
{
  margin: 0;
}

.wrap
{
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.slider
{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #f4f5f9;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 90%, 0 80%);
}

.cont
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnleft,
.btnright
{
  background: #e74b3b;
  border: none;
  outline: none;
  font-size: 2rem;
  color: #eee;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.featurewrap
{
  text-align: center;
}

.title
{
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.text
{
  font-size: 1rem;
  color: #fff;
  margin: 1rem 0;
}

.sloganWrapper
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f4f5f9;
  padding-top: 10px;
}

.sloganWrapper h3
{
  font-size: 12px;
  letter-spacing: 7px;
  text-align: center;
  margin-bottom: 20px;
}


.sloganWrapper h1
{ 
  font-size: 24px;
  margin: 10px 0 0 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 7px;
  text-align: center;
}

.sloganWrapper span 
{
  margin: 15px 15px;
  max-width: 600px;
  color: #cbc6c0;
  font-size: 14px;
  line-height: 20px;
} 

.deviderWrapper
{
  display: flex;
  flex-direction: row;
  align-items: center;
} 

.deviderWrapper__dot
{
  height: 7px;
  width: 7px;
  background-color: #e74b3b;
  border-radius: 50%;
  display: inline-block;
}

.deviderWrapper__left
{
  width: 80px;
  height: 2px;
  background-color: #9e9289;
  display: inline-block;
  margin-right: 15px !important;
} 

.deviderWrapper__right
{
  width: 80px;
  height: 2px;
  background-color: #9e9289;
  display: inline-block;
  margin-left: 15px !important;
}

.buttons
{
  margin-top: 40px;
  
}

.buttons button
{
  width: 115px;
  padding: 5px 5px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  background: transparent;
  color: #f4f5f9;
  border: 2px solid #ffff;
}

.buttons button:first-child
{
  background-color: #e74b3b;
  border: 2px solid #e74b3b;
  color: #f4f5f9;
  margin-right: 30px;
}

.buttons button:hover
{
  background-color: #b64437;
}

.buttons button:first-child:hover
{
  background-color: #b64437;
}

.icon
{
  border: 1px solid #9e9289;
  position: absolute;
  left: 50%;
  bottom: 8%;
  -webkit-transform: translate(-50%, 15px);
  -ms-transform: translate(-50%, 15px);
  transform: translate(-50%, 15px);
  z-index: 2;
  border-radius: 50%;
  background-color: #f4f5f9;
}

.icon img
{
  width: 60px;
  height: 60px;
}

.icon img:hover
{
  cursor: default;
  transform: rotate(60deg);
  transition: all 0.7s ease-in-out 0.2s;
}

.icon img:not(:hover)
{
  transition: all 0.7s ease-in-out 0.2s;
  transform: rotate(0deg);
}

@media only screen and (min-width: 640px)
{
   .sloganWrapper
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f4f5f9;
    padding-top: 100px;
  } 
    
  .sloganWrapper p
  {
    font-size: 24px;
    letter-spacing: 7px;
  }
    
  .sloganWrapper h1
  {
    font-size: 72px;
    margin: 50px 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 7px 
  }
    
  .sloganWrapper span 
  { 
    margin: 0 auto;
    max-width: 600px;
    color: #cbc6c0;
    font-size: 14px;
  }

  .deviderWrapper
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 0 15px 0;
  }

  .buttons
  {
    margin-top: 60px;
  }

  .buttons button
  {
    width: 225px;
    text-transform: uppercase;
    text-transform: uppercase;
    padding: 20px 0;

  }

  .btnleft,
  .btnright
  {
    font-size: 1.2rem;
  }   
}


